datasets
Flask
Flask-Cors
ipython
langchain
llama-index
nbconvert
openai
pandas
pinecone-client[grpc]
pymongo
pypdf
PyPDF4
python-dotenv
python-translator
requests
tiktoken
tokenizers
tqdm
transformers
qwikidata
