datasets
Flask
Flask-Cors
googletrans==3.1.0a0
ipython
langchain
llama-index
nbconvert
openai
pandas
pinecone-client[grpc]
pymongo
pypdf
PyPDF4
python-dotenv
requests
tensorflow
tiktoken
tokenizers
tqdm
transformers
qwikidata
